<!DOCTYPE html>
<html>
<head>
  <title>Testing</title>
  <%#= csrf_meta_tags %>
  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- Bootstrap -->
   <script type="text/javascript">
//<![CDATA[
// try{if (!window.CloudFlare) {var CloudFlare=[{verbose:0,p:1491911720,byc:0,owlid:"cf",bag2:1,mirage2:0,oracle:0,paths:{cloudflare:"/cdn-cgi/nexp/dok3v=1613a3a185/"},atok:"12a4f817a8f4410de6adbe957cb0d968",petok:"0e3f90e1be6a544b9a53b7228ba67f94cbf38eb3-1492150323-1800",zone:"colorlib.com",rocket:"a",apps:{}}];document.write('<script type="text/javascript" src="//ajax.cloudflare.com/cdn-cgi/nexp/dok3v=905ca5bd16/cloudflare.min.js"><'+'\/script>');}}catch(e){};
//]]>
</script>
</head>
  <body class="login", style="background-color:#1F5C66;">
    <%= yield %>
    <p>asdfasdfsad</p>
  </body>
</html>
